* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: black;
  border-bottom: 2px solid #2c2c2c;
  padding: 20px 50px;
}

header a {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #cb2222;
}

a:hover {
  text-decoration: underline;
}

.container {
  padding: 50px;
}

.post {
  width: 500px;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px;
  background: #598191;
  color: #000;
}

.post h2 {
  margin-bottom: 20px;
}

.post a {
  color: #283c44;
}

.reg {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.reg h1 {
  margin-bottom: 20px;
  color: #333;
}

.reg form {
  display: flex;
  flex-direction: column;
}

.reg input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.reg input:focus {
  border-color: #007bff;
  outline: none;
}

.reg button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.reg button:hover {
  background-color: #0056b3;
}

.reg div[style] {
  margin-bottom: 10px;
  color: red;
}
